body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}

#drop_zone {
	height: 200px;
}

.drop_zone-clear {
  height: 200px;
}

.dragName{
  padding: 3px;
  cursor: grab;
}

.drag{

}